.two-columns {
  display: flex;
  justify-content: space-between;

  width: 80%;
}

.two-columns__brief {
  width: 175px;

  line-height: 1.2;
  font-size: 18px;
  font-weight: 400;
  color: var(--blue-accent);
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: 400;
}

.two-columns__span-accent {
  font-weight: 600;
}

.two-columns__paragraph + .two-columns__paragraph {
  margin-top: 30px;
}
